body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}


.container {
    padding: 30px;
    text-align: center;
}


h1 {
    color: #333;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.card {

    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;

}


.card button {

    background: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}


.card button:hover {

    background: darkblue;

}
